/* 
1.Posicionamiento 
2. Modelo de caja(Box model) Margin padding
3. Tipografía
4. Visuales
5. Miselanos u otros

*/
:root{
    /* Colores fuentes */
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --second-blue:#1a9af7;
    --soft-blue: #E7F5FF;
    --warm-black: #201e1c;
    --black: #282623;
    --off-white:#faf8f7;
    --just-white:#fff;

}

/* *{
    box-sizing: 65.2%;
    font-family: 'DM Sans', sans-serif;
} */

html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
header{
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;   
    height: 334px;
    text-align: center; 
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%); 
}
header img{
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}

.header--title-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    /* una vez llega a los 900px deja de crecer */
    height: 218px;
    margin-top: 50px;
    text-align: center;
    align-self: center;
}

.header--title-container h1{ 

    /* Es para darle mas especifidad */
    font-size: 2.4rem; /* Tamaño de fuente */
    font-weight: bold; /* Peso de la fuente */
    line-height: 2.6rem;  /*26 px  dimension entre lineas*/
    color: var(--just-white );

}

.header--title-container p{

    margin-top:25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header--title-container .header--button{
    position: absolute; /*  me permite moverme en tlbr  */
   /* regla css calc: genera un calculo ; queremos que se vaya al centro con 50%*/
   left:calc(50%-118px);
    top:270px;
    display:block;
    margin: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /* Sombra */
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16); /* sombras */
    border: none;/* EN caso de que exitsta un borde definido, lo quitamis y ponemos uno personalizado */
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color:var(--black);

}
.header--button span{ /* span para que se pueda ver */
    display: inline-block /* para que me de lo mejor de inline yu block */;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url("./assets/icons/down-arrow.svg");
}